/* ChatForm.module.scss */

.chatForm {
    display: flex;
    align-items: center;
    padding: 10px;
    position: fixed;
    bottom: 30px;
    width: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  
  .inputContainer {
    position: relative;
    flex: 1;
  }
  
/* ChatForm.module.scss */

.input {
    width: calc(100% - 100px); /* Ширина поля ввода минус ширина кнопки */
    padding: 20px; /* Внутренние отступы */
    border: solid 1px rgb(195, 195, 195); /* Убираем границы */
    border-radius: 18px; /* Скругляем углы */
    background-color: #ffffff; /* Цвет фона */
    font-size: 16px;
    outline: none;
    height: 70px; /* Минимальная высота поля ввода */
    resize: none; /* Запрещаем пользователю изменять размер поля */
    word-wrap: break-word; /* Переносить слова при необходимости */
    line-height: 1.5; /* Высота строки */
    box-sizing: border-box; /* Учитываем внутренние отступы и границы в расчете ширины */
    max-height: 200px; /* Максимальная высота поля ввода */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Добавляем тень */
    overflow-y: scroll; /* Добавляем вертикальную прокрутку, если содержимое превышает высоту поля */;
  }
  
  
  .sendButton {
    padding: 16px 20px;
    color: white;
    border: 1.5px solid transparent;
    border-color: rgb(195, 195, 195);
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    right: 0;
    top: 0;
    height: 70px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Добавляем тень */
  }



  .input::-webkit-scrollbar {
    width: 8px; /* Ширина полосы прокрутки */
  }
  
  .input::-webkit-scrollbar-thumb {
    --tw-border-opacity: 1;
    background-color: hsla(0, 0%, 89%, .8);
    border-color: rgba(255,255,255, var(--tw-border-opacity));
    border-radius: 9999px;
    border-width: 1px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 9999px;
}
  

  .sendimg {
    height: 30px;
    width: 30px;
  }